.mainnav {
  overflow: hidden;
  background-color: #073875;
} 

.mainnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
} 

.mainnav .icon {
  display: none;
} 

.mainnav .dropdown {
  float: left;
  overflow: hidden;
} 

.mainnav .icon {
    font-size:15px;
}

.mainnav .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.mainnav .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.mainnav a:hover, .mainnav .dropdown:hover .dropbtn { 
    background-color: #0a4894;
    color: white;
}
  
.mainnav .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

  .mainnav .dropdown:hover .dropdown-content {

    display: block;
  }


.mainnav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.mainnav .dropdown.avatar-btn .dropdown-content{
  top: 10;
  right: 0;
}

.mainnav .dropbtn a {
    padding: 0;
}

.mainnav .fa-caret-down {
    margin-left: 5px;
    font-size: 12px;
}

.mainnav .dropdown.avatar-btn .dropbtn a {
  height: 42px;
}

.mainnav .dropdown.avatar-btn {
  float: right;
}

.mainnav .dropdown.avatar-btn .dropbtn{
  padding: 4px 10px;
}

.mainnav .avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.mainnav-wrapper {
  position: relative;
}

.mainnav .dropdown.avatar-btn .dropdown-content {
  right: 0;
}
  
@media screen and (max-width: 900px) {
    .mainnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .mainnav a.icon {
      float: right;
      display: block;
    }
    .mainnav .dropbtn a {
        padding: 0;
        position: relative;
    }
    
    .mainnav .fa-caret-down {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}
  
@media screen and (max-width: 900px) {
    .mainnav.responsive {position: relative;}
    .mainnav.responsive .icon {
      position: absolute;
      right: 15px;
      top: 0;
    }
    .mainnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .mainnav.responsive .dropdown {float: none;}
    .mainnav.responsive .dropdown-content {position: relative;}
    .mainnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    
    .mainnav .dropdown.avatar-btn .dropbtn a {
      text-align: center;
    }
}
